<div class="panel">
    <h3>📈 Stavba a Najímání</h3>
    <div class="upgrades-container">
        <button id="upg-click" class="btn">Giga-Chad Prst <b id="lvl-click">[1]</b> <span id="cost-click">10</span><small>Základní síla kliku +1</small></button>
        <button id="upg-click2" class="btn" style="background-color: #f39c12; border-color: #e67e22;">Super Klik <b id="lvl-click2">[0]</b> <span id="cost-click2">100</span><small>Síla kliku +5</small></button>
        <button id="upg-klikator" class="btn" style="background-color: #8e44ad; border-color: #732d91; color: white;">Klikátor <b id="count-klikator" style="color:#f1c40f;">[0]</b> <span id="cost-klikator" style="color:black; background:white;">500</span><small style="color:#ddd;">Zkopíruje tvůj klik</small></button>
        
        <button id="bld-auto" class="btn">Najmout Trola <b id="count-auto">[0]</b> <span id="cost-auto">50</span><small>Produkce +1/s</small></button>
        <button id="bld-factory" class="btn">Meme Farma <b id="count-factory">[0]</b> <span id="cost-factory">500</span><small>Produkce +10/s</small></button>
        <button id="bld-mine" class="btn">Těžba Dogecoinů <b id="count-mine">[0]</b> <span id="cost-mine">3000</span><small>Produkce +50/s</small></button>
        <button id="bld-ai" class="btn">AI Generátor <b id="count-ai">[0]</b> <span id="cost-ai">15000</span><small>Produkce +250/s</small></button>
        <button id="bld-tiktok" class="btn">Brainrot TikTok <b id="count-tiktok">[0]</b> <span id="cost-tiktok">100k</span><small>Produkce +1.5k/s</small></button>
        <button id="bld-elon" class="btn">Elon Tweet <b id="count-elon">[0]</b> <span id="cost-elon">1M</span><small>Produkce +10k/s</small></button>
        <button id="bld-matrix" class="btn">Ovládnutí Matrixu <b id="count-matrix">[0]</b> <span id="cost-matrix">15M</span><small>Produkce +50k/s</small></button>
        <button id="bld-crypto" class="btn">Krypto Burza <b id="count-crypto">[0]</b> <span id="cost-crypto">100M</span><small>Produkce +300k/s</small></button>
        <button id="bld-metaverse" class="btn">Metaverse Realitka <b id="count-metaverse">[0]</b> <span id="cost-metaverse">1B</span><small>Produkce +2M/s</small></button>
        <button id="bld-alien" class="btn">UFO Technologie <b id="count-alien">[0]</b> <span id="cost-alien">50B</span><small>Produkce +50M/s</small></button>
    </div>
</div>